<% content_for :main_menu  do %>
  <%= render :partial => "admin/main/partials/menus/main", :locals => {:menu_type => "template"} %>
<% end %>
<% content_for :sider_menu  do %>
  <%= render :partial => "admin/main/partials/menus/template"%>
<% end %>
<div class="gm-tabs s-h-wrapper">
  <div class="gm-tabs-content current">
    <div class="gm-toolbar">
      <ul>
        <li><%= link_to "添加模板", new_admin_template_path %></li>
      </ul>
    </div>
    <div class="s-table">
      <table>
        <thead>
          <tr>
            <th width="50">选项</th>
            <th width="50">序号</th>
            <th width="100">模板名称</th>
            <th width="100">模板类型</th>
            <th width="100">所属模型</th>
            <th>模板描述</th>
            <th width="120">更新时间</th>
            <th width="150">操作</th>
          </tr>
        </thead>
        <tbody>
          <% @list.each do |u| %>
            <tr>
              <td>
                <div class="s-input">
                  <input type="checkbox" value="<%=u.id%>" />
                </div>
              </td>
              <td><%=u.id%></td>
              <td><%= link_to u.name, edit_admin_template_path(u) %></td>
              <td>
                <font color="red"><%="默认" if u.template_status%></font>
                <%=::Template::TEMPLATE_TYPE[u.template_type]%>
              </td>
              <td><%=u.info_model.name%></td>
              <td><%=u.description%></td>
              <td><%=u.updated_at.strftime("%Y-%m-%d %H:%M")%></td>
              <td class="edit">
                <%= link_to("设为默认", default_template_admin_template_path(u)) unless u.template_status%>
                &nbsp;&nbsp;
                <%= link_to image_tag("icon/edit.png"), edit_admin_template_path(u) %>
                &nbsp;&nbsp;
                <%= link_to image_tag("icon/delete.png"), admin_template_path(u), :method => :delete ,:confirm => "你确定要删除吗？" %>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>

    <div class="gm-pagination">
      <%= paginate @list %>
    </div>

  </div>
</div>