<% content_for :main_menu  do %>
  <%= render :partial => "admin/main/partials/menus/main", :locals => {:menu_type => "service_verify"} %>
<% end %>
<% content_for :sider_menu  do %>
  <%= render :partial => "admin/main/partials/menus/service_verify"%>
<% end %>

<div class="gm-bloc s-h-wrapper">
  <div class="gm-bloc-head">
    <h3 class="gm-bloc-title">
      添加序列号分类
    </h3>
    <a href="#" class="toggle"></a>
  </div>
  <div class="gm-bloc-body">
    <% content_for :error_message do %>
      <br />
      <% error_messages(@service_category).each do |err| %>
        <%= err %><br />
      <% end %>
    <% end %>
    <%= form_for @service_category, :url => (@service_category.new_record? ? admin_service_categories_path : admin_service_category_path(@service_category)), :html => {:id => "new_service_category"} do |f| %>
      <!-- form -->
      <div class="s-input">
        <%= f.label :name, "分类名称:" %>
        <%= f.text_field :name %>
        <span class="input-tips">  </span>
      </div>
      <br />

      <div class="s-input">
        <%= f.submit "保存" %>
      </div>
      <!-- end form -->
    <% end %>
  </div>
</div>



<%=content_for :head do%>
  <script type ="text/javascript">
    $(function(){
      $("#new_service_category").validate({
        //debug:true,　//测试时打开
        rules: {
          "service_category[name]": {
            required:true,
            rangelength:[2,30]
          }
        },
        messages:{
          "website[name]": {
            required: "网站名称不能为空！",
            rangelength:"网站名称长度应介于2-30！"
          }
        },
        submitHandler:function(form){
          $(form).hide().data('submiting','true');
          var loading = $('<p>正在提交，请稍后...</p>');
          $(form).after(loading);
          form.submit();
        }
      });
    });

  </script>
<% end %>
