
<% content_for :main_menu  do %>
  <%= render :partial => "admin/main/partials/menus/main", :locals => {:menu_type => "shop_category"} %>
<% end %>
<% content_for :sider_menu  do %>
  <%= render :partial => "admin/main/partials/menus/shop_category"%>
<% end %>

<div class="gm-tabs s-h-wrapper">
  <div class="gm-bloc-head">
    <h3 class="gm-bloc-title">
      商品分类管理
    </h3>
    <a href="#" class="toggle"></a>
  </div>
  <div class="gm-tabs-head">
    <a href="#"  class="current">分类列表</a>
  </div>
  <div class="gm-tabs-content current">
    <div class="gm-toolbar">
      <ul>
        <li> <%=link_to "添加商品分类", "" , "data-iframe-src" => new_category_admin_shop_product_path, :title => "添加商品" , :class => "add-shop_category" %></li>
      </ul>
    </div>
    <div class="s-table">
      <table>
        <thead>
          <tr>
            <th>选项</th>
            <th>序号</th>
            <th>上级分类</th>
            <th>分类标题</th>
            <th>描述</th>
            <th>更新时间</th>
            <th>创建时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% @shop_categories.each do |category|  %>
            <tr>
              <td>
                <div class="s-input">
                  <input type="checkbox" value="<%= category.id%>" />
                </div>
              </td>
              <td><%=category.id%></td>
              <td> <%=  category.level != 0 ? category.parent.name : ""  %> </td>
              <td><%= category.parent_id.present? ?  "- " * category.level : ""  %>  <%=category.name %> </td>
              <td> <%=category.description %></td>
              <td> <%=current_time_format(category.updated_at) %></td>
              <td> <%=current_time_format(category.created_at) %></td>
              <td class="edit">
                <% if category.parent_id.present? %>
                  <%= link_to image_tag("icon/edit.png"), edit_admin_shop_category_path(category) %>
                  <%= link_to image_tag("icon/delete.png"), admin_shop_category_path(category), :method => :delete ,:confirm => "你确定要删除吗？" %>
                <%end%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="gm-pagination">
      <%= paginate @shop_categories %>
    </div>

  </div>
</div>



<script type="text/javascript">
  $(function(){
    // Document is ready
    $('.gm-tabs').jqtab();
    $('#validBeforePicker,#validAfterPicker').datepick({
      onSelect: customRange});
  });


  function customRange(dates) {
    if (this.id == 'validBeforePicker') {
      $('#validAfterPicker').datepick('option', 'minDate', dates[0] || null);
    }
    else {
      $('#validBeforePicker').datepick('option', 'maxDate', dates[0] || null);
    }
  }

  $.jqmIframe({
    overlay: 70,
    trigger: '.add-shop_category',
    onLoad : $.jqmFullWindow
  });

  function load_content(){
    $('#tree_load_content').load("/admin/showcategories/<%= params[:id] %>/channel_index#{?page=params[:page] if params[:page] }");

  }

  $().ready(function(){
    $(".jqmClose").click(function(){
      load_content();
    });
  })


</script>